.brand{
  width: 100%;
  &__title{
    border-top: 1px solid $border;
    background: $white;
    padding-top: 15px;
  }
  &__title-text{
    font-family: 'TT Lakes Regular';
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-transform: uppercase;
    color: $text;
    margin-bottom: 20px;
  }
  &__cards{
    background: #f8f8f8;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 25px;
    overflow-x: hidden
  }
}

.brand  .brand{
  &__cards-list{
    position: relative;
    margin-right: calc(-50vw + 50%);
    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: -5px;
      width: 24px;
      height: 81px;
      padding-top: 25px;
      background: linear-gradient(270deg, #f8f8f8 0.04%, rgba(248, 248, 248, 0) 100%);
      z-index: 1;
    }
  }
  &__item-link{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }
  &__item-ring{
    border: 2px solid $btn;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    align-self: center;
    position: relative;
    &:after{
      content: url(../img/checkmark.svg);
      position: absolute;
      top: 10px;
      left: 14px;
    }
  }
  &__cards .brand__cards-item{
    background: $white;
    border: 1px solid $back;
    border-radius: 6px;
    padding: 20px 15px;
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: space-between;
    position: relative;
    transition: box-shadow .3s;
    &:hover{
      box-shadow: rgba(81, 79, 79, 0.4) 0px 5px 15px;
    }
  }
}

  .brand__cards-item:not(:last-child){
    margin-right: 15px;
  }

  .brand__btn--close,
  .brand__btn--show{
    transition: color 0.3s ease-in-out;
    &:hover{
      color: #7f264d;
    }
    display: none;
  }
  
// swiperBrand

  .brand .swiper-slide{
    min-width: 238px;
    max-width: 242px;
    max-height: 74px;
  }
  
  .swiper-brand .my-custom-pagination-div1{
    margin-top: 15px;
    text-align: center;
  }
  
  .swiper-brand .swiper-pagination-bullet{
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color:  #c3c4ca;
    border-radius: 50%;
    margin-right: 12px;
  }

  .swiper-brand .swiper-pagination-bullet:last-child{
    margin-right: 0px;
  }
  
  .swiper-brand .swiper-pagination-bullet-active{
    background-color:  #aba5a5;
  }