@font-face {
  font-family: 'TT Lakes Regular';
  src: url('../fonts/ttlakes-regular.eot');
  src: url('../fonts/ttlakes-regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ttlakes-regular.woff') format('woff'),
  url('../fonts/ttlakes-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  }

  @font-face {
    font-family: 'TT Lakes Medium';
    src: url('../fonts/ttlakes-medium.eot');
    src: url('../fonts/ttlakes-medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ttlakes-medium.woff') format('woff'),
    url('../fonts/ttlakes-medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: 'TT Lakes Bold';
    src: url('../fonts/ttlakes-bold.eot');
    src: url('../fonts/ttlakes-bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ttlakes-bold.woff') format('woff'),
    url('../fonts/ttlakes-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }